<div class="" style="font-family: 'Jost', sans-serif;">
    {%extends 'base.html'%}
    {%block content%}
    <div class="container-fluid">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Awwards</h2>
                <p class="lead">Check out other peoples projects, Review and Rate them! You can also post yours to be
                    reviewed!
                </p>
            </div>
        </div>
        <h1 class="text-center mb-5">Sample Projects</h1>
        <div class="row">
            {% for project in project_items %}
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="{{project.photo.url}}" class="card-img-top" alt="">
                    <a href="project/{{proj.id}}"></a>
                    <div class="card-body">
                        <div class="card-title">
                            <h2>
                                {{project.title}}</h2>
                        </div>
                        <hr>
                        <div class="card-text">
                            <a href="project/{{project.id}}">View More</a>
                        </div>

                    </div>
                </div>
            </div>
            {%endfor%}

        </div>
        
        <div class="page-item"><button class="btn btn-primary">
            <a class="page-link" href="{% url 'login' %}">Add Project</a></button>
        </div>
    </div>

    {%endblock%}
</div>