{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="text-white bg-dark" href="{% url 'profile' %}"><h1>The Awwwards</h1></a>
      </div>
      <!-- Adding a search form  -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto"><h3>
          <a class="nav-item nav-link" href="{% url 'welcome' %}">Home</a></h3>
        </div>
        <br>
        <br>
        <div class="nav-item"><h3>
          <a class="nav-link" href="{%url 'newProject' %}">Add project</a></h3>
        </div>
       

        <!-- Navbar Right Side -->
        
          <ul class="navbar-nav navbar-right">
            
          {% if user.is_authenticated %}
          <h3><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></h3>
          <h3><a class="nav-item nav-link" href="{% url 'search' %}">Search Projects</a></h3>
          <h3><a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a></h3>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'registration' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</body>
</html>