<!-- {% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" >
    <div class="text-white text-center" style="margin-top:15%">
        <h1>Welcome to HoodWatch</h1>
        <h5 style="margin-top:6%">Get Started by joining a hood today</h5>
    </div>

</div>
{% endblock %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to My neighborhood</h2>
</body>
</html>