<nav id="sidebar" class="">
    <div class="sidebar-header ">
        <h3><a href="{% url 'index' %}">Hood Watch</a></h3>
        <strong><i class="fas fa-home"></i></strong>
    </div>
    {% if user.is_authenticated %}
    <ul class="list-unstyled components mr-2 ml-2">
        <li class="mb-4">
            <a href="{% url 'profile' user.username %}">
                <img class="rounded-circle nav-img" src="{{ user.profile.profile_picture.url }}" alt="">
                &nbsp; Profile
            </a>

        </li>
        <li class="mb-4">
            <a href="{% url 'edit_profile' user.username %}">
                <i class="fas fa-edit"></i>&nbsp;
                &nbsp; Edit Profile
            </a>
        </li>
        <li class="mb-4">
            <a href="{% url 'hood' %}">
                <i class="fas fa-home"></i>&nbsp;
                &nbsp; Hoods
            </a>
        </li>

    </ul>
{% endif %}